*{margin:0; padding:0; box-sizing: border-box;font-family: Verdana, sans-serif;}
body{
    background-image: url(../img/back.png);
}
.calendar{

    border: 20px inset #212529;
    border-radius: 20px;
    width: 200%;
    margin: 100px auto;
    height: 100vh;
    background-color: rgb(124, 124, 124);
}
.text-center{
    text-align: center;
}
.fc-daygrid-event{
    color: black;
    cursor: pointer;
    max-height: 10%;
}
.fc-daygrid-event:hover{
    box-shadow: 5px 5px 5px black
}
.fc-daygrid-day-frame{
    cursor: pointer;
}
.fc-daygrid-day-frame:hover{
    background-color: rgb(245, 243, 153);
}
.fc-daygrid-day-number {
    text-decoration: none !important;
    color: black;
}
.fc-col-header-cell-cushion {
    text-decoration: none !important;
    color: black;
}